docker/jira/postgres/data/*
docker/jira/data/var/*
!docker/jira/data/var/dbconfig.xml
docker/postgres/data/*
app/cache/*
app/logs/*
app/vendor/*
.env
docker-compose.override.yml
app/var/cache/*
app/var/logs/*
app/var/*
